:root {
  --primary: #8960bf;
  --secondary: #ccd0da;
  --surface: #eff1f5;
  --surface-container: #e6e9ef;
  --outline: #ccd0da;
  --text: #000000;
  --text-secondary: #4c4f69;
  --text-disabled: #9ca0b0;
  --text-success: forestgreen;
  --text-failure: darkred;
  --surface-translucent: rgba(239, 241, 245, 0.7);
  --surface-container-translucent: rgba(230, 233, 239, 0.7);
  --toast-info-bg: rgba(230, 233, 239, 0.8);
  --toast-success-bg: rgba(181, 226, 199, 0.8);
  --toast-error-bg: rgba(235, 200, 196, 0.8);
  --toast-success-border: #2e7d32;
  --toast-error-border: #961c05;
  --toast-btn-hover: rgba(0, 0, 0, 0.1);
  --toast-btn-pressed: rgba(0, 0, 0, 0.18);
  --titlebar-btn-hover: rgba(0, 0, 0, 0.1);
  --titlebar-btn-pressed: rgba(0, 0, 0, 0.2);
  --titlebar-btn-close-hover: rgba(255, 80, 80, 0.4);
  --titlebar-btn-close-pressed: rgba(255, 80, 80, 0.7);

  accent-color: var(--primary);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #313244;
    --surface: #1e1e2e;
    --surface-container: #181825;
    --outline: #313244;
    --text: #fcfcfc;
    --text-secondary: #cdd6f4;
    --text-disabled: #6c7086;
    --text-success: limegreen;
    --text-failure: lightcoral;
    --surface-translucent: rgba(30, 30, 46, 0.5);
    --surface-container-translucent: rgba(24, 24, 37, 0.5);
    --toast-info-bg: rgba(24, 24, 37, 0.8);
    --toast-success-bg: rgba(69, 128, 64, 0.8);
    --toast-error-bg: rgba(86, 16, 0, 0.8);
    --toast-success-border: #a6e3a1;
    --toast-error-border: #f38ba8;
    --toast-btn-hover: rgba(255, 255, 255, 0.1);
    --toast-btn-pressed: rgba(255, 255, 255, 0.18);
    --titlebar-btn-hover: rgba(255, 255, 255, 0.1);
    --titlebar-btn-pressed: rgba(255, 255, 255, 0.2);

    color-scheme: dark;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:
    -apple-system, BlinkMacSystemFont, "Adwaita Sans", "Inter Variable", "Helvetica Neue",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Arial, sans-serif;
}

body {
  background-color: var(--surface);
  color: var(--text);
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.vertical-divider {
  border-right: 1px solid var(--outline);
}

.horizontal-divider {
  border-bottom: 1px solid var(--outline);
}

h1 {
  font-size: 23px;
  font-weight: 500;
  margin: 10px 0;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-text {
  text-align: center;
}

.hidden {
  display: none !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary);
  overflow: hidden;
  flex-shrink: 0;
  transition: opacity 0.1s;
}

.btn.primary {
  background-color: var(--primary);
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
}

.btn:focus-visible {
  outline: none;
  filter: brightness(150%);
}

.btn svg {
  height: 1.2em;
  margin: -0.1em 0;
}

.btn span {
  font-size: 14px;
  font-weight: 500;
}

.btn:has(> .progress-bar) {
  padding: 0;
}

.btn .content {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width-btn {
  flex-grow: 1;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-row {
  display: flex;
  gap: 5px;
  align-items: center;
}

.param-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 14px;
}

input[type="text"],
input[type="number"] {
  padding: 7px 9px;
  border: 1px solid var(--outline);
  border-radius: 8px;
  background-color: var(--surface);
  color: var(--text);
  font-size: 14px;
}

input[type="text"] {
  flex: 1;
}

input[type="number"] {
  width: 80px;
  text-align: right;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--text-disabled);
}

.radio-group {
  display: flex;
  gap: 15px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

.column-titlebar {
  position: sticky;
  top: 0;
  background-color: var(--surface-container-translucent);
  backdrop-filter: blur(25px);
  z-index: 10;
  border-bottom: 1px solid var(--outline);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid var(--outline);
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

[data-sonner-toaster] {
  z-index: 2000 !important;
}
